{{ partial "header.html" . }}
{{ $start := add (sub (mul .Paginator.PageSize .Paginator.PageNumber) .Paginator.PageSize) 1 }}
<ol start={{ $start }}>
    {{ range .Paginator.Pages }}
    <li class="item">
        {{ $site := urls.Parse .Params.ItemUrl }}
        <p class="item__urls">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <span class="item__siteurl">(
                <a href='/sites/{{ replace $site.Host "www." "" }}'>{{ replace $site.Host "www." "" }}</a> )
            </span>
        </p>
        <p class="item__meta">
            <span class="post_age" pdate="{{ .Lastmod.Format "January 2, 2006"  }}"> </span>
            {{ range .Params.tags }}
            <a class="item__tag" href="{{ "tags" | relURL }}/{{- replace . " " "-" -}}">{{- . -}}</a>
            {{- end }}

            {{ if ne (trim .Content " ") "" }}
            <a class="item__notes" href="{{ .Permalink }}">notes</a>
            {{ end }}
        </p>
    </li>
    {{ end }}
</ol>
{{ template "_internal/pagination.html" . }}
{{ partial "footer.html" . }}