{{ partial "header.html" . }}
<article class="single">
    {{ $site := urls.Parse .Params.ItemUrl }}
    <h2>
        <p class="item__urls"><a href="{{ .Params.ItemUrl }}">{{ .Title }}</a> </p>
    </h2>
    {{ range $key, $value := .Params.tags }}
    <button disabled="disabled"> {{ $value }}</button>
    {{ end }}
    {{ if ne (trim .Content " ") "" }}
    {{ .Content }}
    {{ else }}
    <p>have not written any notes for this article.</p>
    {{ end }}
</article>
{{ partial "footer.html" . }}